.btn1 {
    background-color: rgb(244, 154, 122);
    color: rgb(134, 202, 240);
    font-size: 55px;
}

.btn2 {
    background-color: rgb(172, 246, 88);
    color: rgb(236, 11, 176);
    font-size: 55px;
}

.btn3 {
    background-color: rgb(233, 179, 63);
    color: rgb(225, 131, 249);
    font-size: 55px;
}